<!-- <<p>quick-view works!</p> -->
<div class="home">
    <span routerLink="/dashboard/getallbook">Home/</span><span>Book(01)</span>
</div>
<div class="content">
    <div class="layout-img">
        <div>
            <div>
                <img src="../../../assets\quickView\book1.png">
            </div>
            <div>
                <img src="../../../assets\quickView\book2.png">
            </div>
        </div>
        <div >
            <div class="img-border">
                <img src="../../../assets\quickView\book3.png" class="img">
            </div>

            <div class="btn-two">
                <button mat-raised-button class="btn-bag">ADD TO BAG</button>
                <button class="btn-wish" mat-raised-button>
                    <mat-icon class="fav-icon">favorite</mat-icon>WISHLIST
                </button>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div>
            <h5>Book Detail</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eligendi beatae culpa veniam ducimus
                libero nihil! Laboriosam recusandae ex minus, iure, illum odio consequatur ducimus perferendis cum vitae
                repudiandae nisi?</p>
        </div>
        <div>
            <h3>Customer Feedback</h3>
            <div>
                <span>Overall rating</span>s
                <div>

                </div>
                <mat-card>
                    <input placeholder="Write your review...">
                </mat-card>
                <button mat-raised-button>submit</button>
            </div>
        </div>
    </div>
</div>