<!-- <p>order-place works!</p> -->
<div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout="column wrap">
        <div>
            <img class="img1" src="../../../assets\getBook\Placeorder2.png">
        </div>

        <span class="order-text"><b>Order Placed Successfully</b></span>
        <div>
            <img class="img2" src="../../../assets\getBook\placeorder1.png">
        </div>
    </div>
    <div style="text-align: center;">
        <p class="para">hurray!!! your order is confirmed <br>the order id is #123456 save the order id for<br> further
            communication</p>
    </div>
    <div>
        <table class="tabel">
            <tr>
                <th>Email us</th>
                <th>Contact us</th>
                <th>Address</th>
            </tr>
            <tr>
                <td>admin@bookstore.com</td>
                <td>+918163475881</td>
                <td>42, 14th Main, 15th Cross, Sector 4, opp to BDA <br> Complex, near Kumarakom restaurant, HSR layout,
                    <br> Bangalore 560034
                </td>
            </tr>
        </table>
    </div>
    <div class="btn-div" fxLayoutAlign="center center">
        <button class="btn" (click)="home()">
            CONTINUE SHOPPING
        </button>
    </div>
</div>