.add-but {
    width: 100px;
    height: 32px;
/* UI Properties */
    background: black 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: blanchedalmond;
    // margin-top: 20px;
    // margin-left: 1100px;
}