<!-- <p>getallbook works!</p> -->
<div class="main">
    <div class="text">
        <span style="font-size: 23px;">Books</span>
        <span>(28 items)</span>
    </div>
    <div class="relevance-text">
        <mat-form-field appearance="outline">
            <mat-label>Sort by relevance</mat-label>
            <mat-select>
                <mat-option (click)="lowToHigh()">Price:Low to High</mat-option>
                <mat-option (click)=" highToLow()">Price:High to Low</mat-option>
                <mat-option (click)="newestArrivals()">Newest Arrivals</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="entier-block">
        <div class="mat-card" *ngFor="let book of bookList | filter: searchWord | paginate: { itemsPerPage: 10, currentPage: p}" style="background-color:  #F5F5F5;">
            <div class="img-back">
                <img src="../../../assets/getBook/book.png" class="img" (click)="quickView()">
            </div>
            <div class="block">
                <div class="title"><b>{{book.bookName}}</b></div>
                <div>{{book.author}}</div>
                <div><span style="background-color: #388E3C;">4.5<img
                            src="../../../assets\getBook\grade_FILL0_wght400_GRAD0_opsz48.svg" class="img1"></span><a
                        class="star-text">(20)</a></div>

                <!-- <div>{{book.quantity}}</div> -->
                <div><b>Rs.{{book.price}}</b></div>
                <!-- <div>{{book.discountPrice}}</div> -->
                <div class="btn">
                    <button class="btn-bag" mat-raised-button (click)="addToCart(book)" *ngIf="visible1">ADD TO BAG</button>
                    <button class="btn-wish" mat-raised-button (click)="addToWishlist(book)" *ngIf="visible1">
                        <mat-icon class="fav-icon">favorite</mat-icon>WISHLIST
                    </button>
                    <button mat-raised-button class="cart-btn" *ngIf="visible2">ADDED TO CART</button>
                </div>
            </div>

        </div>
    </div>
    <div  class="pagination">
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>
    </div>
    <div  fxLayoutAlign="center" class="footer">
        <p style="margin-top: 5px;">Copyright &copy;2020, Bookstore Private Limited. All Rights Reserved</p>
    </div>
</div>

<!-- *ngFor="let book of bookList" -->